

.button {
	border: black;
	background-color: #CCD6E0;
	height:100px;
	width:100px;
	border-radius: 10px;
	text-align: center;
	display:inline-table;
	font-size: 50px;
	color:#52565A;
}

.button:hover {
	background-color: #7094B8;
	color:black;
}

.generate{
	background-color: #CCD6E0;
	height:50px;
	width:200px;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	color: #336699;
	font-weight: bold;
	margin-left: 370px;
	padding-top: 10px;
	margin-top: 10px;
}

div {
	display: inline-table;
}

p {
	color:green;
	font-size: 20px;
	margin-left: 330px;
}

span{
	font-weight: bold;
}